.edit {
  border-radius: 2px;
  background-repeat: no-repeat;
  background-position: center;
  color: var(--color);
  grid-area: button;
  border: 1px solid var(--color);
  margin-top: 5px;
  margin-left: 15px;
  padding: 4px;
  background-color: var(--background-color);
  height: 24px;
  width: 24px;
}

.edit:hover {
  opacity: 0.6;
  cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
  .edit {
    margin: 0;
    height: 20px;
    width: 20px;
    padding: 2px;
  }
}
