.profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: 40px auto 0;
}

.info {
  align-self: center;
  color: var(--color);
  width: auto;
  margin: 0 auto 0 30px;
  display: grid;
  gap: 0;
  /*grid-template-columns: minmax(auto, 1fr) minmax(24px, auto);*/
  grid-template-rows: 48px 22px;
  grid-template-areas: "name button" "profession gap";
}

.common {
  margin: 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: var(--color);
  width: 100%;
  max-width: 326px;
}

.name {
  composes: common;
  grid-area: name;
  font-weight: 500;
  font-size: 42px;
  line-height: 48px;
}

.profession {
  composes: common;
  grid-area: profession;
  font-size: 18px;
  line-height: 22px;
  min-height: 22px;
}

@media screen and (min-width: 320px) and (max-width: 899px) {
  .profile {
    flex-direction: column;
    margin-top: 42px;
  }

  .info {
    /*grid-template-columns: 24px auto 24px;*/
    grid-template-rows: 33px 16px;
    grid-template-areas: "space name button" "space profession gap";
    gap: 6px;
    margin-top: 26px;
    margin-left: auto;
    max-width: 238px;
  }

  .name {
    text-align: center;
    font-size: 27px;
    line-height: 32px;
  }

  .profession {
    min-height: 16px;
    font-size: 14px;
    line-height: 16px;
    margin-top: 0;
    text-align: center;
  }
}
