.common {
  display: flex;
  flex-direction: column;
  padding: 0;
}

.card {
  composes: common;
  position: relative;
  border-radius: 10px;
  width: 282px;
  height: 360px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.column {
  composes: common;
  margin: 0;
}

.counter {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  color: black;
  margin: 0;
  padding: 0;
}

.group {
  padding: 20px;
  height: 78px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--card-background-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.image {
  cursor: pointer;
  margin: 0;
  padding: 0;
  max-width: 282px;
  width: auto;
  height: 282px;
  background: #212121;
  border-radius: 10px 10px 0 0;
}

.name {
  margin: 2px 0;
  padding: 0;
  max-width: 200px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-weight: 900;
  font-size: 24px;
  line-height: 24px;
}

.remove {
  display: flex;
  position: absolute;
  cursor: pointer;
  height: 19px;
  width: 18px;
  background-image: url("../../../../images/trash.svg");
  background-repeat: no-repeat;
  background-size: cover;
  top: 20px;
  right: 20px;
  background-color: rgb(0 0 0 / 0%);
  border: 0;
}
