.avatar {
  border-radius: 50%;
  background-color: black;
  width: 120px;
  height: 120px;
  /* background-image: url(../../images/image.jpg); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 120px;
}

/* .avatar:hover::before {
  content: '';
  background-color: rgba(0, 0, 0, 0.8);
  background-image: url(../../images/Vector.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 26px;
  width: 120px;
  height: 120px;
  position: absolute;
  cursor: pointer;
  border-radius: 50%;
} */

@media screen and (min-width: 320px) and (max-width: 899px) {
  .avatar {
    align-self: center;
  }
}