.elements {
  min-height: 40vh;
  max-width: 880px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .elements {
    margin-top: 36px;
    max-width: 282px;
    flex-direction: column;
  }
}

@media screen and (min-width: 580px) and (max-width: 879px) {
  .elements {
    max-width: 581px;
  }
}