.cards {
  min-height: 40vh;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  row-gap: 20px;
  column-gap: 17px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
}

@media screen and (max-width: 319px) {
  .cards {
    display: none;
  }
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .cards {
    margin-top: 36px;
    width: calc(100% - 54px);
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 580px) and (max-width: 879px) {
  .cards {
    width: calc(282px + 282px + 20px);
    grid-template-columns: 1fr 1fr;
  }
}
