.image {
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  display: flex;
  align-self: center;
  background-size: cover;
}

.image:hover::before {
  content: "";
  height: 120px;
  width: 120px;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(0 0 0 / 80%);
  background-image: url("../../../../images/vec.svg");
  background-size: 26px;
  position: absolute;
}
