.card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 282px;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 320px) and (max-width: 599px) {
  .card {

  }
} 

@media screen and (min-width: 600px) and (max-width: 879px) {
  .card {

  }
}