.card {
  display: flex;
  position: relative;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  width: 282px;
  height: 361px;
  margin-left: auto;
  margin-right: auto;
}
