.p404_description {
  margin: 0;
  margin-top: 20px;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: white;
  font-weight: 500;
  font-size: 22px;
  width: 100%;
  text-align: center;
}