.title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: var(--color);
  padding: 0;
  margin: 60px auto 20px;
}

@media screen and (min-width: 320px) and (max-width: 539px) {
  .title {
    font-size: 20px;
    line-height: 24px;
  }
}
