.like {
  align-self: flex-end;
  margin: 0;
  padding: 0;
  width: 22px;
  height: 19px;
  background-image: url("../../../../images/stroke.svg");
  background-size: cover;
  background-color: var(--card-background-color);
  border: 0;
}

.like:hover {
  opacity: 0.5;
  cursor: pointer;
}

.checked {
  background-image: url("../../../../images/stroke-checked.svg");
}

.disabled {
  opacity: 0.3;
}
